* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'Cabin', sans-serif;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
}


#logo{
    color: #00873a;
}

header{
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: lightgreen;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: darkslategray;
}

section{
    display: flex;
    flex-direction: row;
}

/* BANNER */

h1{
    font-size: 2rem;
}

/* ABOUT */
#about{
    height: 100vh;
}

.left-container{
    flex-basis: 50%;
    height: 100%;
}

.left-container img{
    height: 100%;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.right-container p{
    text-align: left;
}

.right-container h1{
    text-align: center;
}