$fontColor: darkslategray;
$mainColor: #00873a;
$secondaryColor: lightslateblue;
$tertiaryColor: whitesmoke;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'Cabin', sans-serif;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: $secondaryColor;
}

.btn {
    font-size: 1.8rem;
    padding: 15px;
    margin: 15px 0;
    width: 15rem;
    text-align: center;
    border: 0.1rem solid $mainColor;
    text-decoration: none;
    color: $fontColor;

    &:hover{
        background-color: $mainColor;
        color: $tertiaryColor;
    }
}

#logo{
    color: $mainColor;
}

header{
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $tertiaryColor;

    nav {
        width: 30%;
        
        ul{
            display: flex;
            width: 100%;
            justify-content: space-around;
            list-style-type: none;
            color: darkslategray;

            li{
                &:hover{
                    border-bottom: 5px solid $mainColor;
                }
            }
        }   
    }
}

section{
    display: flex;
    flex-direction: row;

    &:nth-of-type(odd){
        background-color: $secondaryColor;
    }
}

/* BANNER */

h1{
    font-size: 2rem;
}

.hidden{
    display: none;
}

/* ABOUT */
#about{
    height: 100vh;
    display: flex;
    align-items: center;
    
    .left-container{
        flex-basis: 50%;
        height: 100%;
        img{
            height: 60%;
            margin: 15%;
        }
    }    
    
    .right-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        // padding: 15px;
        justify-content: center;
        align-items: center;
        
        p{
            text-align: left;
            padding: 15px 0;
        }
        
        h1{
            text-align: center;
            color: $mainColor;
        }
    }
}

#adopt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .owl-carousel{
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

            .slide{
                background-color: $secondaryColor;
                height: 350px;
                margin: 0 2%;
                border: 1px solid blue;
                border-radius: 20px;
                transition: 0.5s;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                img{
                    width: 80%;
                    height: 60%;
                    object-fit: cover;
                }
            }
        .owl-nav{
            font-size: 24px;
        }
    }
}

#donate{
    padding: 5%;
    display: flex;

    .donate-card{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 2%;
        justify-content: space-around;
        margin: 5%;
    }
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 50%;
        }
}

#back-btn{
    position: absolute;
    bottom: 0;
    left: 0;
}