$fontColor: black;
$headerCardColor: white;
$mainColor: #00873a;
$secondaryColor: darkslategray;
$tertiaryColor: whitesmoke;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $tertiaryColor;
    display: flex;
    flex-direction: column;
}

h1, h2, h3{
    font-family: 'Cabin', sans-serif;
}

p, li {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: $fontColor;
}

.btn {
    font-size: 1.8rem;
    padding: 15px;
    margin: 15px 0;
    width: 15rem;
    text-align: center;
    border: 0.1rem solid $mainColor;
    text-decoration: none;
    color: $fontColor;

    &:hover{
        background-color: $mainColor;
        color: $tertiaryColor;
    }
}

#logo{
    color: $mainColor;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $headerCardColor;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 9999;

    nav {

        .nav-link-list{
            display: flex;
            width: 100%;
            justify-content: space-around;
            list-style-type: none;
            color: darkslategray;

            .nav-link{
                &:hover{
                    border-bottom: 5px solid $mainColor;
                }
            }
        }  
        
        .hamburger {
            // display: none;
            
            .bar {
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: $mainColor;
            }
        }
    }
}

content {
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    // flex-direction: row;
}

/* BANNER */

.hidden{
    display: none;
}

.moveBack{
    z-index: -1;
    position: absolute;
}

/* ABOUT */
#about{
    height: 100vh;
    display: flex;
    
    .right-container {
        display: flex;
        // height: 100%;
        // padding: 15px;
        
        h1{
            text-align: center;
            color: $mainColor;
        }
    }
}

#adopt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .owl-carousel{
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

            .slide{
                background-color: $headerCardColor;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                height: 350px;
                margin: 0 2%;
                // border: 1px solid blue;
                border-radius: 20px;
                transition: 0.5s;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                img{
                    width: 80%;
                    height: 60%;
                    object-fit: cover;
                }
            }
        .owl-nav{
            font-size: 24px;
        }
    }
}

#donate{
    display: flex;

    .donate-card{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
        height: 100%;
        gap: 2%;
        justify-content: space-around;
        margin: 5%;
        padding: 5%;
    }

    .left-container{
        background-color: lightseagreen;
    }

    .right-container{
        background-color: lightgreen;
    }
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .link-icons{
        display: flex;

        i{
            color: $fontColor;
            
            &:hover{
            /* background-color: #a5be00; */
            color: $mainColor;
            }
        }
    }
}

footer{
    background-color: $secondaryColor;
    color: $tertiaryColor;
    text-align: center;
}


#back-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $mainColor;
    color: $tertiaryColor;
    // z-index: 9998;

    &:hover{
        background-color: $fontColor;
        color: $tertiaryColor;  
        border: none;
    }

    i{
        color: $mainColor;
        font-size: 5rem;
    }
    
}


@media screen and (min-width: 17em) {

    #logo{
        padding: 2%;
        font-size: 1em;
    }

    p, li{
        font-size: 80%;
    }

    header{
        width: 100%;
    }

    nav{
        width: 10%;
        .nav-link-list{
            position: fixed;
            flex-direction: column;
            align-items: center;
            gap: 1%;
            left: -100%;
            top: 4rem;
            background-color: $headerCardColor;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 20px;
            color: $fontColor;
            height: 50%;
            margin: 0;
            // z-index: 9999!important;
        }

        .nav-link-list.active {
            left: 0;
            z-index: 9999!important;
        }

        .hamburger{
            display: block;
            
            .bar{
                display: block;
            }
        }

        .hamburger.active{
            .bar{     
                &:nth-child(2) {
                    opacity: 0;
                }
                
                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
                
                &:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }


    #about{
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        margin-top: 5rem;

        .left-container{
            height: 35%;

            img{
                height: 100%;
                margin: 5% 0;
            }
        }

        .right-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 2%;

            h1{
                font-size: 1.5rem;
                margin: 2% 0;
            }

            p{
                text-align: center;
            }
        }
    }

    #donate{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact{
        justify-content: space-between;
        gap: 15%;
        padding: 10%;

        p{
            margin: 10% 0;
            text-align: center;
        }

        .link-icons{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
    
            i{
                flex-basis: 1;
                flex-wrap: wrap;
                font-size: 35px;
                gap: 15%;
                
                &:hover{
                /* background-color: #a5be00; */
                color: $mainColor;
                }
            }
        }
    }
    
    footer{
        padding: 15%;
    }

  }

@media screen and (min-width: 43em) {
    p, li{
        font-size: 1.8rem;
    }

    #about{
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 62em){

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    nav{
        width: 30%;
        .nav-link-list{
            position: inherit;
            flex-direction: row;
            box-shadow: none;
            left:0;
        }

        .hamburger{
            display: none;
        }
    }

    p, li{
        font-size: 1rem;
    }

    #about{
        flex-direction: row;
        height: 50vh;
        justify-content: center;
        align-items: center;

        .left-container{
            width: 50%;
            height: 100%;

            img{
                height: 90%;
                margin: 7% 5%;
            }
        }

        .right-container{
            padding: 5%;

            p{
                text-align: left;
            }
        }
    }

    #donate{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    footer{
        padding: 5%;
    }
}

@media screen and (min-width: 75em){

    #about {
        height: 100vh;
        .left-container{
            img{
                height: 80%;
                margin: 5%;
            }
        }
        .right-container{

            h1{
            font-size: 3em;
            }   
        }
    }

    #adopt{
        h2 {
            font-size: 3em;
            }  
    }

    p, li{
        font-size: 1.2rem;
    }

    #contact{
        justify-content: space-between;
        padding: 10%;

        p{
            margin: 5% 0;
            text-align: center;
        }

        .link-icons{
            flex-direction: row;
            align-items: center;
            width: 100%;
    
            i{
                flex-basis: 1;
                flex-wrap: wrap;
                font-size: 35px;
                // gap: 5%;
                
                &:hover{
                /* background-color: #a5be00; */
                color: $mainColor;
                }
            }
        }
    }

    footer{
        padding: 2%;
    }

}
