* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2, h3 {
  font-family: 'Cabin', sans-serif;
}

p, li {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  margin: 15px 0;
  width: 15rem;
  text-align: center;
  border: 0.1rem solid #00873a;
  text-decoration: none;
  color: black;
}

.btn:hover {
  background-color: #00873a;
  color: whitesmoke;
}

#logo {
  color: #00873a;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 9999;
}

header nav .nav-link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  color: darkslategray;
}

header nav .nav-link-list .nav-link:hover {
  border-bottom: 5px solid #00873a;
}

header nav .hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #00873a;
}

content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* BANNER */
.hidden {
  display: none;
}

.moveBack {
  z-index: -1;
  position: absolute;
}

/* ABOUT */
#about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .right-container h1 {
  text-align: center;
  color: #00873a;
}

#adopt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#adopt .owl-carousel {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#adopt .owl-carousel .slide {
  background-color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 350px;
  margin: 0 2%;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#adopt .owl-carousel .slide img {
  width: 80%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

#adopt .owl-carousel .owl-nav {
  font-size: 24px;
}

#donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#donate .donate-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  gap: 2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5%;
  padding: 5%;
}

#donate .left-container {
  background-color: lightseagreen;
}

#donate .right-container {
  background-color: lightgreen;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .link-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .link-icons i {
  color: black;
}

#contact .link-icons i:hover {
  /* background-color: #a5be00; */
  color: #00873a;
}

footer {
  background-color: darkslategray;
  color: whitesmoke;
  text-align: center;
}

#back-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #00873a;
  color: whitesmoke;
}

#back-btn:hover {
  background-color: black;
  color: whitesmoke;
  border: none;
}

#back-btn i {
  color: #00873a;
  font-size: 5rem;
}

@media screen and (min-width: 17em) {
  #logo {
    padding: 2%;
    font-size: 1em;
  }
  p, li {
    font-size: 80%;
  }
  header {
    width: 100%;
  }
  .btn {
    font-size: 1rem;
    padding: 10px;
  }
  nav {
    width: 10%;
  }
  nav .nav-link-list {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1%;
    left: -100%;
    top: 4rem;
    background-color: white;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    color: black;
    height: 50%;
    margin: 0;
  }
  nav .nav-link-list.active {
    left: 0;
    z-index: 9999 !important;
  }
  nav .hamburger {
    display: block;
  }
  nav .hamburger .bar {
    display: block;
  }
  nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5rem;
  }
  #about .left-container {
    height: 35%;
  }
  #about .left-container img {
    height: 100%;
    margin: 5% 0;
  }
  #about .right-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 2%;
  }
  #about .right-container h1 {
    font-size: 1.5rem;
    margin: 2% 0;
  }
  #about .right-container p {
    text-align: center;
  }
  #donate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 15%;
    padding: 10%;
  }
  #contact p {
    margin: 10% 0;
    text-align: center;
  }
  #contact .link-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  #contact .link-icons i {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 35px;
    gap: 15%;
  }
  #contact .link-icons i:hover {
    /* background-color: #a5be00; */
    color: #00873a;
  }
  footer {
    padding: 15%;
  }
}

@media screen and (min-width: 43em) {
  p, li {
    font-size: 1.8rem;
  }
  #about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 62em) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .btn {
    font-size: 1.8rem;
    padding: 15px;
  }
  nav {
    width: 30%;
  }
  nav .nav-link-list {
    position: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-shadow: none;
            box-shadow: none;
    left: 0;
  }
  nav .hamburger {
    display: none;
  }
  p, li {
    font-size: 1rem;
  }
  #about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .left-container {
    width: 50%;
    height: 100%;
  }
  #about .left-container img {
    height: 90%;
    margin: 7% 5%;
  }
  #about .right-container {
    padding: 5%;
  }
  #about .right-container p {
    text-align: left;
  }
  #donate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer {
    padding: 5%;
  }
}

@media screen and (min-width: 75em) {
  #about {
    height: 100vh;
  }
  #about .left-container img {
    height: 80%;
    margin: 5%;
  }
  #about .right-container h1 {
    font-size: 3em;
  }
  #adopt h2 {
    font-size: 3em;
  }
  p, li {
    font-size: 1.2rem;
  }
  #contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10%;
  }
  #contact p {
    margin: 5% 0;
    text-align: center;
  }
  #contact .link-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #contact .link-icons i {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 35px;
  }
  #contact .link-icons i:hover {
    /* background-color: #a5be00; */
    color: #00873a;
  }
  footer {
    padding: 2%;
  }
}
/*# sourceMappingURL=styles.css.map */