* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Cabin', sans-serif;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: lightslateblue;
}

.btn {
  font-size: 1.8rem;
  padding: 15px;
  width: 15rem;
  text-align: center;
  border: 0.1rem solid #00873a;
  text-decoration: none;
  color: darkslategray;
}

#logo {
  color: #00873a;
}

header {
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: darkslategray;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section:nth-of-type(odd) {
  background-color: lightslateblue;
}

/* BANNER */
h1 {
  font-size: 2rem;
}

.hidden {
  display: none;
}

/* ABOUT */
#about {
  height: 100vh;
}

#about .left-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
}

#about .left-container img {
  height: 60%;
}

#about .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .right-container p {
  text-align: left;
  padding: 15px 0;
}

#about .right-container h1 {
  text-align: center;
}

#adopt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#adopt .owl-carousel {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#adopt .owl-carousel .slide {
  background-color: red;
  height: 350px;
  border: 1px solid blue;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#adopt .owl-carousel .slide img {
  width: 80%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

#donate {
  padding: 15% 0;
}
/*# sourceMappingURL=styles.css.map */